<div class="main">
  <div class="main-left">
    <div class="heade">
      <img class="img-left" src="assets\image\Group-14049.png" />
      <div class="text-hi">
        <p class="himn">Chào mừng bạn đến với</p>
        <h1>LP TECHNOLOGY</h1>
      </div>
    </div>

    <div class="login">
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="Hãy nhập 'Tên đăng nhập'!">
            <nz-input-group>
              <input
                type="text"
                nz-input
                formControlName="username"
                placeholder="Tên đăng nhập"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Hãy nhập 'Mật khẩu'!">
            <nz-input-group>
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Mật khẩu"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <button
          nz-button
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
        >
          ĐĂNG NHẬP
        </button>
      </form>
    </div>
    <div class="help">
      <span><a routerLink="/register">Đăng kí tài khoản</a></span>
      <span><a href="#">Hướng dẫn</a></span>
    </div>
  </div>
  <div class="main-right">
    <img src="assets\image\msg5466316462-63985.jpg" />
  </div>
</div>
