<div class="content">
  <div nz-row class="search">
    <h1 style="color: #2f416d; margin-bottom: 1rem">THÊM MỚI ỨNG VIÊN</h1>

    <div class="mt-5">
      <nz-input-group [nzSize]="'large'">
        <div nz-row [nzGutter]="8">
          <!-- <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email">Họ và tên</nz-form-label>
            <nz-form-control [nzSpan]="20">
              <input type="text" nz-input formControlName="employeeName" />
            </nz-form-control>
          </div> -->
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email">Họ </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <input type="text" nz-input formControlName="lastName" />
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email"> Tên</nz-form-label>
            <nz-form-control [nzSpan]="20">
              <input type="text" nz-input formControlName="firstName" />
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email">Email</nz-form-label>
            <nz-form-control [nzSpan]="20">
              <input type="text" nz-input formControlName="emial" />
            </nz-form-control>
          </div>

          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email">Giới tính</nz-form-label>
            <nz-form-control [nzSpan]="21">
              <!-- <input type="text" nz-input formControlName="gender" />
               -->
              <nz-select
                [nzAllowClear]="true"
                [nzSize]="'large'"
                id="gender"
                formControlName="gender"
              >
                <nz-option nzValue="FEMALE" nzLabel="Nam"></nz-option>
                <nz-option nzValue="MALE" nzLabel="Nữ"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email"
              >Số điện thoại</nz-form-label
            >
            <nz-form-control [nzSpan]="20">
              <input type="text" nz-input formControlName="phone" />
            </nz-form-control>
          </div>

          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email"
              >Ngày sinh
            </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <!-- <input type="text" nz-input formControlName="birthDate" /> -->
              <nz-date-picker
                style="font-size: 31px; border-radius: 7px; width: 13rem"
                [(ngModel)]="date"
                nzFormat="dd/MM/yyyy "
                formControlName="birthDate"
              ></nz-date-picker>
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email">Địa chỉ</nz-form-label>
            <nz-form-control [nzSpan]="20"
              ><input type="text" nz-input formControlName="address" />
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email">Trình độ</nz-form-label>
            <nz-form-control [nzSpan]="21">
              <!-- <input type="text" nz-input formControlName="level" /> -->
              <nz-select
                [nzAllowClear]="true"
                [nzSize]="'large'"
                id="gender"
                formControlName="level"
              >
                <nz-option nzValue="INTERN" nzLabel="INTERN"></nz-option>
                <nz-option nzValue="FRESHER" nzLabel="FRESHER"></nz-option>
                <nz-option nzValue="JUNIOR" nzLabel="JUNIOR"></nz-option>
                <nz-option nzValue="MIDDLE" nzLabel="MIDDLE"></nz-option>
                <nz-option nzValue="SENIOR" nzLabel="SENIOR"></nz-option>
                <nz-option nzValue="MANAGER" nzLabel="MANAGER"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email">Kỹ năng</nz-form-label>
            <nz-form-control [nzSpan]="20"
              ><input type="text" nz-input formControlName="source" />
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email"
              >Số năm kinh nghiệm</nz-form-label
            >
            <nz-form-control [nzSpan]="20"
              ><input type="number" nz-input formControlName="numberOfExp" />
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="12" nzFor="email"
              >Vị trí tuyển dụng</nz-form-label
            >
            <nz-form-control [nzSpan]="20"
              ><input type="text" nz-input formControlName="applyPosition" />
            </nz-form-control>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5" class="input-size">
            <nz-form-label [nzSpan]="16" nzFor="email"
              >Mức lương mong muốn</nz-form-label
            >
            <nz-form-control [nzSpan]="20"
              ><input type="text" nz-input formControlName="expectedSalary" />
            </nz-form-control>
          </div>

          <div [formGroup]="validateForm" nz-col nzSpan="20">
            <nz-form-label
              [nzSpan]="13"
              nzFor="number"
              style="margin: 1rem 0 0 0"
              >Mục tiêu nghề nghiệp</nz-form-label
            >

            <textarea
              class="textear"
              type="text"
              nz-textarea
              formControlName="careerGoals"
            ></textarea>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="5">
            <nz-form-label
              [nzSpan]="13"
              nzFor="number"
              style="margin: 1rem 0 0 0"
              >Sở thích</nz-form-label
            >

            <textarea
              class="textear"
              type="text"
              nz-textarea
              formControlName="hobbies"
            ></textarea>
          </div>
          <div [formGroup]="validateForm" nz-col nzSpan="20">
            <nz-form-label
              [nzSpan]="13"
              nzFor="number"
              style="margin: 1rem 0 0 0"
              >Ghi chú</nz-form-label
            >

            <textarea
              class="textear"
              type="text"
              nz-textarea
              formControlName="note"
            ></textarea>
          </div>
        </div>
      </nz-input-group>
    </div>
  </div>
  <div class="footer" style="padding: 26px 16px 16px">
    <button class="add-order-btn" (click)="createUser()" nz-button nzGhost>
      Lưu
    </button>
    <button class="close" (click)="close()" nz-button nzGhost>Đóng</button>
  </div>
</div>
