<div class="modal-confirm">
  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="title"
    nzFooter="nzModalFooter"
    [nzWidth]="369"
    (nzOnCancel)="handleCancelModal()"
    (nzAfterOpen)="openModal()"
  >
    <div class="modal-confirm__body" *ngIf="!isCancelLeave && !isNotAllowedCreate">
      <div class="modal-confirm__contents">
        <span>{{description}}
          <!-- <span *ngIf="!hiddenContent">Bạn có chắc chắn muốn xóa <span>{{name}}</span>
            <span class="contents__bold"> {{content}} </span> không?
          </span> -->
        </span>
      </div>
    </div>

    <div class="modal-confirm__body" *ngIf="isNotAllowedCreate">
      <div class="modal-confirm__contents">
        <span *ngIf="!hiddenContent">
          <span *ngIf="isPartnerCodeErr">Xác nhận đổi trạng thái</span>
        </span>
      </div>
    </div>

    <div class="modal-confirm__body" *ngIf="isNotAllowedCreate">
      <div class="modal-confirm__contents">
        <span *ngIf="!hiddenContent">
          <span *ngIf="isPermissionCodeErr">Xác nhận tiếp tục cảnh báo</span>
        </span>
      </div>
    </div>

    <div class="modal-confirm__body" *ngIf="isCancelLeave">
      <div class="modal-confirm__contents">
        <span>
          <span *ngIf="!hiddenContent">Dữ liệu nhập chưa được lưu lại, bạn có muốn đóng không?</span>
        </span>
      </div>
    </div>

    <!-- <div class="modal-confirm__body" *ngIf="isNotAllowedCreate">
      <div class="modal-confirm__contents">
        <span *ngIf="!hiddenContent">
          <span *ngIf="isPartnerCodeErr">Đã tồn tại Mã đối tác: <b>DT9999</b>. Hệ thống không tự sinh thêm mã. Vui lòng liên hệ quản trị để được hỗ trợ.</span>
          <span *ngIf="isPermissionCodeErr">Đã tồn tại Mã nhóm quyền: <b>NQ9999</b>. Hệ thống không thể tự sinh thêm mã. Vui lòng liên hệ quản trị để được hỗ trợ.</span>
        </span>
      </div>
    </div> -->

    <div *nzModalFooter class="d-flex justify-content-center">
      <ng-container *ngIf="!hiddenBtnOK && !isCancelLeave">
        <app-button
         
          title="Hủy"
          
          (clickCancel)="handleCancelModal()"
        ></app-button>
      </ng-container>

      <ng-container *ngIf="isCancelLeave">
        <app-button
          title="Từ chối"
          (clickCancel)="handleCancelModal()"
        ></app-button>
      </ng-container>

      <ng-container *ngIf="!isDelete && !isNotAllowedCreate">
        <app-button (clickConfirm)="handleOkModal()"></app-button>
      </ng-container>

      <ng-container *ngIf="isDelete">
        <app-button title="Xác nhận" (clickDelete)="handleDelete()"></app-button>
      </ng-container>
    </div>
  </nz-modal>
</div>
